<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocketdtopmenu</name>
            <displayName><![CDATA[ETD Menu Horizontal]]></displayName>
            <version><![CDATA[2.0.0]]></version>
            <description><![CDATA[Ajoute un menu am&eacute;lior&eacute; en haut de votre site e-commerce.]]></description>
            <author><![CDATA[ETD Solutions]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>
